.button {
  height: fit-content;
  padding: .3rem .5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--primaryFontFamily);
  cursor: pointer;
  background: var(--textClr);
  color: var(--bgClr);
  border-radius: 6px;
  transition: all .3s ease;
}

/* .button:hover {
  translate: -.15rem -.15rem;
  box-shadow: .15rem .15rem royalblue;
} */

.button:disabled {
  background: #444;
  color: #aaa;
  cursor: not-allowed;
}