.collapsible {

  --collBgClr: #333;

  /* background: var(--collBgClr); */
  border-radius: 10px;
  padding: .7rem 1rem;
  margin: .8rem 0 0;
  box-sizing: border-box;

  word-wrap: break-word;
}

.collapsible > summary {
  margin-bottom: .7rem;
}

.collapsible > summary > .summary {
  font-weight: bolder;
}