:root {
  --bgClr: #eee;
  --textClr: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgClr: #111;
    --textClr: #eee;
  }
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bgClr);
  color: var(--textClr);

  padding: .5rem 2rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: underline;
  text-underline-offset: .4rem;
  text-decoration-thickness: .15rem;
  color: inherit;
}

a:hover {
  color: royalblue;
}