:root {
  --bgClr: #eee;
  --textClr: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgClr: #111;
    --textClr: #eee;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bgClr);
  color: var(--textClr);

  padding: 2rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}