:root {
  --bgClr: #eee;
  --textClr: #111;
  --primaryFontFamily: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgClr: #111;
    --textClr: #eee;
  }
}

body {
  margin: 0;
  font-family: var(--primaryFontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bgClr);
  color: var(--textClr);

  padding: .5rem 2rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: underline;
  text-underline-offset: .4rem;
  text-decoration-thickness: .15rem;
  color: inherit;
}

a:hover {
  color: royalblue;
}

input[type=file] {
  margin-right: 3rem;
}

input[type=file]::file-selector-button {
  height: fit-content;
  padding: .3rem .5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--primaryFontFamily);
  cursor: pointer;
  background: var(--textClr);
  color: var(--bgClr);
  border-radius: 6px;
  transition: all .3s ease;
}